[apply]
    whitespace = fix

[branch]
    autosetuprebase = local

[color]
    ui = auto

[core]
    whitespace = space-before-tab,trailing-space

[merge]
    log = true

[push]
    default = tracking

[user]
    name = Daniel Moser Tralamazza
